.footer {
    min-height: 350px;
    background-color: $brightModerateCyan;
    padding-top: 72px;
    
    &__logo {
        display: inline-block;
        margin-bottom: 50px;
    }
    &__links {
        a {
            display: inline-block;
            height: 18px;
            color: $darkModerateCyan;
            margin-bottom: 90px;
            transition: color 0.3s ease-in;

            &:not(:last-of-type) {
                margin-right: 57px;
            }
            &:hover {
                color: $white;
            }
        }
    }
    &__social {

        :not(:last-of-type) {
            margin-right: 28px;
        }
        a {
            display: inline-block;
            height: 20px;
            svg path {
                transition: fill 0.3s ease-in;
            }
            &:hover svg path {
                fill: $white;
            }
        }
    }
}

img[alt="logo-green"] {
    width: 172px;
    height: 34px;
}
